.gallery {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 50px;
}

.gallery__item {
  position: relative;
  cursor: pointer;
  height: 400px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.8);
  bottom: 0;
  left: 0;
  height: 100px;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__item:hover .gallery__item-overlay {
  opacity: 1;
}

.gallery__item-title {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.load-more {
  width: 100%;
}

.load-more__button {
  background-color: #a08334;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  width: 200px;
  height: 42px;
  margin: 40px auto;
  display: block;
}

.loading {
  margin: 50px 0;
  font-size: 20px;
  color: #6b6b6b;
  text-align: center;
}

@media screen and (max-width: 1480px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 30px;
  }

  .gallery__item {
    height: 270px;
  }
}

@media screen and (max-width: 980px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item {
    height: 270px;
  }
}

@media screen and (max-width: 640px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10px;
  }

  .gallery__item {
    height: 400px;
  }
}
