.header {
  position: sticky;
  display: flex;
  align-items: center;
  background: red;
  padding: 15px 40px;
  background-color: #FFF;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}

.header__title {
  font-family: "Playfair Display", Arial, sans-serif;
  font-size: 52px;
  font-weight: 600;
}

.header__nav-icon {
  cursor: pointer;
}