.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  width: 100%;
  top: 0;
  height: 100px;
  z-index: 100;
}

.header__title {
  font-family: "Playfair Display", Arial, sans-serif;
  font-size: 52px;
  font-weight: 600;
}

.header__nav-icon {
  cursor: pointer;
}
